Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add: [ clang-diagnostic-*,
      cppcoreguidelines-*,
      misc-*,
      performance-*,
      readability-*,
      modernize-*,
      clang-analyzer-*,
      bugprone-* ]
    Remove: [ performance-avoid-endl,
      modernize-use-trailing-return-type,
      readability-avoid-const-params-in-decls,
      readability-identifier-length,
      readability-magic-numbers,
      misc-unused-using-decls ]
  UnusedIncludes: None
