[submodule "TPL/Dependencies/stb"]
	path = TPL/Dependencies/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "TPL/Dependencies/glfw"]
	path = TPL/Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "TPL/Dependencies/glm"]
	path = TPL/Dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "TPL/Dependencies/freetype"]
	path = TPL/Dependencies/freetype
	url = https://github.com/freetype/freetype.git
